<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/public/style/chat.css" />
    <title>Node JS Practice</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">ToDoApp</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="write">Write</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list">List</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="chat">Chat</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container p-4 detail">
      <div class="row">
        <div class="col-3">
          <% if (chatRoom.length === 0) { %>
          <h4 class="text-center">채팅방 개설해주세요</h4>
          <% } else {%>
          <ul class="list-group chat-list">
            <% for (let i = 0; i < chatRoom.length; i++) { %>
            <li class="list-group-item" data-chat_room_number="<%= chatRoom[i]._id %>">
              <h6><%= chatRoom[i].title %></h6>
              <% if ( currentUser === chatRoom[i].maker) { %>
              <h6 class="text-small">상대방 : <%= chatRoom[i].opponent %></h6>
              <% } else { %>
              <h6 class="text-small">상대방 : <%= chatRoom[i].maker %></h6>
              <% } %>
            </li>
            <% } %>
          </ul>
          <% } %>
        </div>

        <div class="col-9 p-0">
          <div class="chat-room">
            <% if (chatRoom.length === 0) { %>
            <h2 class="text-center">개설된 채팅방이 없습니다.</h2>
            <% } else { %>
            <ul class="list-group chat-content">
              <h2 class="text-center">채팅방을 클릭해주세요.</h2>
            </ul>
            <div class="input-group">
              <input class="form-control" id="chat-input" style="display: none" />
              <button class="btn btn-secondary" id="send" style="display: none">전송</button>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
    <script>
      const currentUser = '<%= currentUser %>';
    </script>
    <script src="/public/js/chat.js"></script>
  </body>
</html>
